body {
	font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, sans-serif;
	background: linear-gradient(rgba(0, 0, 0, .35), rgba(0, 0, 0, .2)), url('../Image/Morning.jpg') center/cover no-repeat;
	min-height: 100vh;
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
}

.container {
	width: 350px;
	margin: 100px auto;
	background: rgba(255, 255, 255, .12);
	backdrop-filter: blur(8px);
	border: 1px solid rgba(255, 255, 255, .4);
	padding: 30px;
	border-radius: 10px;
	box-shadow: 0 0 10px #ccc;
}

h2 {
	text-align: center;
	margin: 20px;
}

button {
	width: 100%;
	padding: 10px;
	margin-top: 10px;
	border-radius: 6px;
	border: 1px solid #ccc;
}

input {
	width: 95%;
	padding: 10px;
	margin-top: 10px;
	border-radius: 6px;
	border: 1px solid #ccc;
}

button {
	background: #007bff;
	color: #fff;
	border: none;
	cursor: pointer;
}

button:hover {
	background: #0069d9;
}

.msg {
	color: green;
	text-align: center;
	margin-top: 10px;
}

.error {
	color: red;
	text-align: center;
	margin-top: 10px;
}

/* NAVBAR */
.navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 93%;
	padding: 15px 60px;
	display: flex;
	justify-content: space-between;
	background: rgba(0, 0, 0, .45);
	backdrop-filter: blur(6px);
	color: white;
}

.nav-logo a {
	text-decoration: none;
	color: #fff;
}

.navbar h2 {
	margin: 0;
	text-align: center;
}

.index-btn {
	margin: 0;
	padding: 10px 30px;
	background: #38a169;
	border-radius: 30px;
	color: white;
	text-decoration: none;
}